<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrusel</title>
</head>
<body>
    <section class="carrusel">
        <div class="carrusel__container">

            <div class="carrusel-item"> 
                <img class="carrusel-item__img" src="https://images.pexels.com/photos/1122409/pexels-photo-1122409.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Palmera">
                <div class="carrusel-item__details">
                    <div>
                        <img src="https://img.icons8.com/flat_round/64/000000/play--v1.png" alt="Play">
                        <img src="https://img.icons8.com/flat_round/64/000000/plus.png" alt="Plus">
                    </div>
                    <p class="carrusel-item__details--title">Título descriptivo</p>
                    <p class="carrusel-item__details--subtitle">2019 16+ 114min</p>
                </div>
            </div>

            <div class="carrusel-item"> 
                <img class="carrusel-item__img" src="https://images.pexels.com/photos/825947/pexels-photo-825947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Palmera">
                <div class="carrusel-item__details">
                    <div>
                        <img src="https://img.icons8.com/flat_round/64/000000/play--v1.png" alt="Play">
                        <img src="https://img.icons8.com/flat_round/64/000000/plus.png" alt="Plus">
                    </div>
                    <p class="carrusel-item__details--title">Título descriptivo</p>
                    <p class="carrusel-item__details--subtitle">2019 16+ 114min</p>
                </div>
            </div>

            <div class="carrusel-item"> 
                <img class="carrusel-item__img" src="https://images.pexels.com/photos/2947337/pexels-photo-2947337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Palmera">
                <div class="carrusel-item__details">
                    <div>
                        <img src="https://img.icons8.com/flat_round/64/000000/play--v1.png" alt="Play">
                        <img src="https://img.icons8.com/flat_round/64/000000/plus.png" alt="Plus">
                    </div>
                    <p class="carrusel-item__details--title">Título descriptivo</p>
                    <p class="carrusel-item__details--subtitle">2019 16+ 114min</p>
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>